font-family: 'Modak', cursive;
img {display:inline-block;}
body{
    background-image: url("https://image.freepik.com/free-vector/neon-grid-background_53876-91657.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.center {
    margin: auto;
    width: 90%;
    border: 3px solid black;
    padding: 10px;

  }
h1 {
    font-size: 33px; 
    color: red;
}
* The sidebar menu */
.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #db0404;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; 
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid rgb(243, 64, 10);
    margin: 1em 0; padding: 0; }
p{
    font-size:50;
    text-align: center;
    color: red
   
}

}  
table, th, td {
    border: 3px solid red;
  }